.decrip {
  gap: 28px;
  width: 407px;
  margin: 0px 305px 53px 129px;
}

.decrip2 {
  gap: 18px;
  width: 433px;
  margin: 0px 166px 60px 0px;
}

.avt {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mount {
  color: #B8B8B8;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.comment {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.show-all {
  width: 250px;
  height: 60px;
  border: 1px solid #3E3E3E;
  margin: 30px 345px 102px -3px;
}

.show-all label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
