.comments {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 50px;
}

.comments .group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.comments .decrip,
.decrip2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.comments .title {
  display: flex;
  gap: 15px;
}

.comments .title .name {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.comments label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.comments .show-all {
  display: flex;
  width: 50%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #3E3E3E;
}
