<div class="comments">
  <div class="group">
    <div class="decrip">
      <div class="title">
        <div class="avatar">
          <img src="../../assets/image/detail/avata2.jpg" alt="">
        </div>
        <div class="name">
          <p><strong>Mikasa</strong><br>April 2023</p>
        </div>
      </div>
      <div class="comment">
        <p>Fantastic Villa. Beautiful scenic views of the ocean. Turtles swimming in the bay. Absolutely
          magical!</p>
      </div>
    </div>
    <div class="decrip">
      <div class="title">
        <div class="avatar">
          <img src="../../assets/image/detail/avata4.jpg" alt="">
        </div>
        <div class="name">
          <p><strong>Geby</strong><br>April 2023</p>
        </div>
      </div>
      <div class="comment">
        <p>The perfect place to spend on the nusa islands. I couldn’t have been happier</p>
      </div>
    </div>
    <div class="decrip">
      <div class="title">
        <div class="avatar">
          <img src="../../assets/image/detail/avata8.jpg" alt="">
        </div>
        <div class="name">
          <p><strong>Samuel</strong><br>April 2023</p>
        </div>
      </div>
      <div class="comment">
        <p>The perfect place to spend on the nusa islands. I couldn’t have been happier</p>
      </div>
    </div>
    <div class="decrip">
      <div class="title">
        <div class="avatar">
          <img src="../../assets/image/detail/avata6.jpg" alt="">
        </div>
        <div class="name">
          <p><strong>Low Tha Khong</strong><br>April 2023</p>
        </div>
      </div>
      <div class="comment">
        <p>The perfect place to spend on the nusa islands. I couldn’t have been happier</p>
      </div>
    </div>
  </div>
  <div class="group">
    <div class="decrip2">
      <div class="title">
        <div class="avatar">
          <img src="../../assets/image/detail/avata3.jpg" alt="">
        </div>
        <div class="name">
          <p><strong>Eren</strong><br>April 2023</p>
        </div>
      </div>
      <div class="comment">
        <p>Great place. Clean and as described. We rented a motorbike to get around and had no issues with the
          location.</p>
      </div>
    </div>
    <div class="decrip2">
      <div class="title">
        <div class="avatar">
          <img src="../../assets/image/detail/avata5.jpg" alt="">
        </div>
        <div class="name">
          <p><strong>Heng</strong><br>April 2023</p>
        </div>
      </div>
      <div class="comment">
        <p>One of the most amazing locations in Bali. The food was amazing and the staff was so kind.</p>
      </div>
    </div>
    <div class="decrip2">
      <div class="title">
        <div class="avatar">
          <img src="../../assets/image/detail/avata7.jpg" alt="">
        </div>
        <div class="name">
          <p><strong>Ica</strong><br>April 2023</p>
        </div>
      </div>
      <div class="comment">
        <p>One of the most amazing locations in Bali. The food was amazing and the staff was so kind.</p>
      </div>
    </div>
    <button class="button"><strong>Show all 1,797 reviews</strong></button>
  </div>
</div>