<app-header></app-header>

<div class="body">
  <img class="login" src="/assets/image/auth/login.jpg" alt="">
  <div class="input">
    <div class="title">
      <label>Log in</label>
      <label style="font-size: 16px;">Welcome Back </label>
    </div>
    <div class="form">
      <input placeholder="Email or Phone Number">
      <input placeholder="Password">
    </div>
    <div class="button">
      <div class="left">
        <button>Log in</button>
      </div>
      <div class="right">
        <a routerLink="#">Forget Password?</a>
      </div>
    </div>
    <a routerLink="/register">Don’t have an account yet?</a>
  </div>
</div>

<app-footer></app-footer>

