<app-header></app-header>

<div class="body">
  <img class="login" src="/assets/image/auth/login.jpg" alt="">
  <div class="input">
    <div class="title">
      <label>Log in</label>
      <label style="font-size: 16px;">Welcome Back </label>
    </div>
    <div class="form">
      <input placeholder="Email or Phone Number">
      <input placeholder="Password">
    </div>
    <div class="button">
      <div class="left">
        <label>Log in</label>
      </div>
      <div class="right">
        <a>Forget Password?</a>
      </div>
    </div>
    <a routerLink="/register">Don’t have an account yet?</a>
  </div>
</div>

<div class="footer">
  <div class="footer1">
    <div class="support">
      <label style="font-weight: 600;">Support</label>
      <label>Help Center</label>
      <label>NgCover</label>
      <label>Supporting people with disabilities</label>
      <label>Cancellation options</label>
      <label>Our COVID-19 Response</label>
    </div>
    <div class="community">
      <label style="font-weight: 600;">Community</label>
      <label>Nginep.org</label>
    </div>
    <div class="hosting">
      <label style="font-weight: 600;">Hosting</label>
      <label>Nginep your home</label>
      <label>Explore hosting resources</label>
      <label>Visit community forum</label>
    </div>
    <div class="nginep">
      <label style="font-weight: 600;">Nginep</label>
      <label>Newsroom</label>
      <label>About new features</label>
      <label>Letter from our founders</label>
      <label>Careers</label>
      <label>Investor</label>
    </div>
  </div>
  <div class="line"></div>
  <app-footer></app-footer>
</div>
