.image {
  width: 700px;
  height: 500px;
}

.image img {
  width: 100%;
  height: 100%;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0px;
}

.body .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  width: 360px;
}

.body .input .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.body .input .title label {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.body .input .forminput {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.body .input .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.body .input .form input {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  outline: none;
}

.body .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body .button .left button {
  padding: 15px 40px;
  border-radius: 15px;
  border: none;
  background: #FF385C;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}

.body .button .right label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.body .input a {
  color: #FF385C;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
}

.invalid-message {
  color: red;
}

form .ng-invalid.ng-touched {
  border-color: #e66262;
}


@media only screen and (min-width: 744px) and (max-width: 949px) {
  .image{
    display: none;
  }
}
