.top-bar {
  width: 100%;
  height: auto;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(34, 34, 34, 0.25);
  display: flex;
  justify-content: space-between;
}

.top-bar .logo {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin: 27px 0px 27px 45px;
}

.top-bar .user {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 23px 40px 13px 0px;
}

.top-bar .user .site {
  padding: 10px;
  display: flex;
  align-items: center;
}

.top-bar .user .site label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  margin: 0px;
}

.top-bar .user .language {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  cursor: pointer;
}

.top-bar .user .profile {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 13px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(34, 34, 34, 0.25);
  cursor: pointer;
}

.top-bar .user .profile button {
  border: none;
  background: #fff;
}

.top-bar .user .profile a {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 549px) {
  .top-bar .logo {
    margin: 27px 0px 27px 10px;
  }

  .top-bar .user {
    margin: 23px 10px 23px 0px;
  }

  .top-bar .user .site {
    padding: 5px;
  }

  .top-bar .user .language {
    margin: 0px 5px;
  }

  .top-bar .user .profile {
    padding: 8px;
    gap: 5px;
  }
}
