<div class="top-bar">
  <label class="logo" routerLink="/">
    Stay Dream
  </label>


  <div class="user">
    <div class="site" [routerLink]="linkAboutus">
      <label>Stay Dream site</label>
    </div>

    <div class="language">
      <i class="pi pi-globe" style="font-size: 21px;"></i>
    </div>

    <div class="profile">
      <div class="dropdown" *ngIf="user === null else template">
        <button type="button" data-toggle="dropdown">
          <i class="fa-solid fa-ellipsis"></i></button>
        <ul class="dropdown-menu" style="left: -140px;">
          <li><a routerLink="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
      <ng-template #template>
        <div class="dropdown">
          <button type="button" data-toggle="dropdown">
            <i class="fa-solid fa-ellipsis"></i></button>
          <ul class="dropdown-menu" style="left: -140px;">
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <div style="border-radius: 50%; background-color: #eae8e8; border: 1px solid#000;">
          <i class="pi pi-user" routerLink="/myprofile" style="font-size: 20px; padding: 5px;"></i>
        </div>
      </ng-template>
    </div>
  </div>
</div>