.top-bar {
  width: 1440px;
  height: 92px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(34, 34, 34, 0.25);
  display: flex;
  justify-content:  space-between;
}

.top-bar .logo {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 27px 0px 27px 45px;
}

.top-bar .user {
  width: 288px;
  height: 55px;
  flex-shrink: 0;
  margin: 23px 45px 13px 0px;
  display: flex;
  justify-content: flex-end;
}

.top-bar .user .site {
  display: flex;
  width: 103px;
  height: 45px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
}

.top-bar .user .site label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  margin: 0px;
}

.top-bar .user .language {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
  margin: 0px 10px ;
}

.top-bar .user .profile {
  display: inline-flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(34, 34, 34, 0.25);
  cursor: pointer;
}
.top-bar .user .profile button{
  border: none;
  background: #fff;
}
.top-bar .user .profile a{
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
