<div class="map">
  <div class="header">
    <div class="title">
      <label style="font-size: 28px; font-weight: 600">Where you’ll be</label>
      <label>Nusa Ceningan, Bali, Indonesia</label>
    </div>
    <div></div>
  </div>
  <div class="location">
    <div class="map_normal">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7528.970312528907!2d110.3425298954316!3d1.5633891533746118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31fba7fafdeb74e7%3A0x89ef406b18e2c5ff!2sMerdeka%20Guesthouse!5e0!3m2!1svi!2s!4v1711861601361!5m2!1svi!2s"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="map_small">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7528.970312528907!2d110.3425298954316!3d1.5633891533746118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31fba7fafdeb74e7%3A0x89ef406b18e2c5ff!2sMerdeka%20Guesthouse!5e0!3m2!1svi!2s!4v1711861601361!5m2!1svi!2s"
        width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
