.map .title {
  gap: 10px;
  margin: 0px 1095px 45px 129px;
}

.map .title label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.map .location {
  width: 1184px;
  height: 530px;
  flex-shrink: 0;
  border-radius: 5px;
  background: url('/assets/image/detail/map.png'),no-repeat;
  background-size: 1184px 530px;
  margin: 0px 128px 60px 128px;
}
