label {
  margin: 0px;
}

.title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box label.header {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.box .body {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box .header {
  display: flex;
  gap: 5%;
}

.box .header input{
  height: 30px;
  color: #3E3E3E;
  border: 1px solid #aeaeae;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.box .header .decrip{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  display: flex;
  justify-content: flex-end;
}

.button button {
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background: #FF385C;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.invalid-message{
  color: red;
}
form .ng-invalid.ng-touched {
  border-color: #e66262;
}
