.title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
}

.box label.header {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.box div.note .note {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.box .header {
  display: flex;
  justify-content: space-between;
}

.box .header input {
  height: 30px;
  color: #3E3E3E;
  border: 1px solid #aeaeae;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.box .header .decrip {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: #FF385C;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.invalid-message {
  color: red;
}

form .ng-invalid.ng-touched {
  border-color: #e66262;
}

@media only screen and (min-width: 320px) and (max-width: 1029px) {
  .box .header {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}
