<label class="title">Information Booking</label>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="box">
    <div class="header">
      <div class="decrip">
        <div class="infor">
          <label class="header">Name:</label>
          <input type="text" formControlName="name">
          <ng-container *ngIf="f['name'].invalid && f['name'].touched">
            <div class="invalid-message" *ngIf="f['name'].errors?.['required']">This name cannot be left blank.</div>
          </ng-container>
        </div>
        <div class="infor">
          <label class="header">Country of residence: </label>
          <input type="text" formControlName="country">
          <ng-container *ngIf="f['country'].invalid && f['country'].touched">
            <div class="invalid-message" *ngIf="f['country'].errors?.['required']">This country cannot be left blank.
            </div>
          </ng-container>
        </div>
      </div>
      <div class="decrip">
        <div class="infor">
          <label class="header">Email: </label>
          <input formControlName="email" type="text" placeholder="Your Email" minlength="8">
          <ng-container *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
            <div class="invalid-message" *ngIf="f['email'].errors?.['required']">This email cannot be left blank.</div>
            <div class="invalid-message" *ngIf="f['email'].errors?.['minlength']">Email is too short</div>
            <div class="invalid-message" *ngIf="f['email'].errors?.['email']">Invalid email format.</div>
          </ng-container>
        </div>
        <div class="infor">
          <label class="header">Phone Number: </label>
          <input formControlName="phone" type="text" placeholder="Your Phone Number" minlength="10">
          <ng-container *ngIf=" f['phone'].invalid && (f['phone'].dirty || f['phone'].touched)">
            <div class="invalid-message" *ngIf="f['phone'].errors?.['required']">This phone number cannot be left
              blank.</div>
            <div class="invalid-message" *ngIf="f['phone'].errors?.['minlength']">Phone Number is too short</div>
            <div class="invalid-message" *ngIf="f['phone'].errors?.['invalidPhoneNumber']">Invalid Vietnamese phone
              number format.</div>
          </ng-container>
        </div>
      </div>
      <div class="decrip">
        <div class="infor">
          <label class="header">Guest</label>
          <p-dropdown [options]="guest" optionLabel="name" [showClear]="true" placeholder="How many Guest?"
            tooltipPosition="bottom" formControlName="guest"></p-dropdown>
          <ng-container *ngIf="f['guest'].invalid && f['guest'].touched">
            <div class="invalid-message" *ngIf="f['guest'].errors?.['required']">This guest cannot be left blank.</div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="note">
      <label class="header">Note</label>
      <textarea rows="5" cols="80" pInputTextarea class="body" formControlName="note"></textarea>
    </div>
  </div>
  <div class="button">
    <button type="submit">Next</button>
  </div>
</form>
