<form [formGroup]="form">
  <div class="outputdirectional">
    <label class="title">Edit Your Profile</label>
    <div class="frame">
      <div class="group">
        <label class="header">First Name</label>
        <input [placeholder]="user?.firstName" formControlName="firstName">
      </div>
      <div class="group">
        <label class="header">Last Name</label>
        <input [placeholder]="user?.lastName" formControlName="lastName">
      </div>
    </div>
    <div class="frame">
      <div class="group">
        <label class="header">Email</label>
        <input [placeholder]="user?.email" formControlName="email">
      </div>
      <div class="group">
        <label class="header">Phone</label>
        <input [placeholder]="user?.phoneNumber" formControlName="phoneNumber">
      </div>
    </div>
    <div class="frame2">
      <button class="cancel">Cancel</button>
      <button class="save" type="submit">Save Change</button>
    </div>
  </div>
</form>