.outputdirectional {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  width: 750px;
  gap: 20px;
}

.outputdirectional .title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.outputdirectional .frame {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.outputdirectional .frame .group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.outputdirectional label.header {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.outputdirectional input {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  outline: none;
}

.outputdirectional .frame2 {
  display: flex;
  justify-content: flex-end;
}

.outputdirectional .frame2 .cancel {
  padding: 15px 45px;
  border-radius: 15px;
  border: none;
  background: white;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}

.outputdirectional .frame2 .save {
  padding: 15px 45px;
  border-radius: 15px;
  border: none;
  background: #FF385C;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .outputdirectional .frame {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
