<div class="title" (click)="navigate(true, beach.id)">
  <div class="infor">
    <label class="location"><strong>{{beach.location}}</strong></label>
    <label class="where">{{beach.distance}}</label>
    <label class="date">{{beach.date}}</label>
    <label class="date">Category: {{beach.categories}}</label>
    <div class="price">
      <label class="price"><strong>${{beach.price | number: '1.2-2'}}</strong> {{beach.time}}</label>
    </div>
  </div>
  <div class="star">
    <i class="pi pi-star-fill" style="font-size: 15px;"></i>
    <label class="point"><strong>{{beach.star}}</strong></label>
  </div>
</div>