<div class="outputdirectional">
  <p class="title">Detail Booking</p>
  <div class="detail">
    <div class="infor">
      <p class="header">Information</p>
      <p class="decrip">Name: {{item.orderInfo.ifUser.name}}</p>
      <p class="decrip">Email: {{item.orderInfo.ifUser.email}}</p>
      <p class="decrip">Number Phone: {{item.orderInfo.ifUser.phone}}</p>
    </div>
    <div class="date">
      <p class="header">Date</p>
      <div class="checkin">
        <p class="title">Check-in</p>
        <p class="decrip">{{item.orderInfo.date.checkIn}}</p>
      </div>
      <div class="checkout">
        <p class="title">Check-out</p>
        <p class="decrip">{{item.orderInfo.date.checkOut}}</p>
      </div>
    </div>
    <div class="total">
      <p class="header">Total</p>
      <div class="amount">
        <p class="decrip">{{item.orderInfo.ifUser.post.price}}$/1 night x {{item.orderInfo.date.numberOfDays}} night x
          {{item.orderInfo.ifUser.guest.id}} guest</p>
        <div class="line"></div>
        <p class="decrip" style="font-weight: 600;">total : {{item.payment.total}}$</p>
      </div>
    </div>
  </div>
  <div class="inforproduct">
    <p class="header" style="width: 100%;">Information in the location</p>
    <div class="decrip">
      <p class="decrip">Location: {{item.orderInfo.ifUser.post.location}}</p>
      <p class="decrip">Distance: {{item.orderInfo.ifUser.post.distance}}</p>
      <p class="decrip">Star: {{item.orderInfo.ifUser.post.star}}</p>
      <p class="decrip">Category:{{item.orderInfo.ifUser.post.categories}}</p>
    </div>
  </div>
  <div class="button">
    <button (click)="goBackToList()">Back to list</button>
  </div>
</div>