<div class="outputdirectional">
  <label class="title">Detail Booking</label>
  <div class="detail">
    <div class="date">
      <label class="header">Date</label>
      <div class="checkin">
        <label class="title">Check-in</label>
        <label class="decrip">{{item.orderInfo.date.checkIn}}</label>
      </div>
      <div class="checkout">
        <label class="title">Check-out</label>
        <label class="decrip">{{item.orderInfo.date.checkOut}}</label>
      </div>
    </div>
    <div class="total">
      <label class="header">Total</label>
      <div class="amount">
        <label class="decrip">{{item.orderInfo.ifUser.post.price}}$/1 night x {{item.orderInfo.date.numberOfDays}} night x {{item.orderInfo.ifUser.guest.id}} guest</label>
        <div class="line"></div>
        <label class="decrip" style="font-weight: 600;">total : {{item.payment.total}}$</label>
      </div>
    </div>
    <div class="status">
      <label class="header">Status</label>
      <label class="decrip" style="color: green;">Complete</label>
    </div>
  </div>
  <div class="infor">
    <label class="header" style="width: 100%;">Information in the location</label>
    <div class="decrip">
      <!-- <div class="decrip">

      </div>
      <div class="decrip"></div>
      <div class="decrip"></div>
      <div class="decrip"></div> -->
      <label class="decrip">Location: {{item.orderInfo.ifUser.post.location}}</label>
      <label class="decrip">Distance: {{item.orderInfo.ifUser.post.distance}}</label>
      <label class="decrip">Star: {{item.orderInfo.ifUser.post.star}}</label>
      <label class="decrip">Category:{{item.orderInfo.ifUser.post.categories}}</label>
    </div>
  </div>
  <div class="button">
    <button (click)="goBackToList()">Back to list</button>
  </div>
</div>
