.review {
  margin: 6px 500px 34px 129px;
}

.review .star {
  gap: 5px;
}

.review .star label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.review .reviews {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  text-decoration-line: underline;
}

.review .popularity {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.review .location {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  text-decoration-line: underline;
}

.interact {
  margin: 8px 128px 35px 1px;
}

.interact .share {
  gap: 5px;
}

.interact .share label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.interact .save {
  gap: 5px;
}

.interact .save label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
