label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
}

.decrip {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.decrip .review {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 0px -35px;
}

.decrip .review .star {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.decrip .interact {
  display: flex;
  gap: 20px;
}

.decrip .interact .share,
.save {
  display: flex;
  align-items: center;
  gap: 5px;
}
