.roadmap {
  display: flex;
  justify-content: space-between;
  margin: 50px 70px;
}

.roadmap p {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}

.body {
  display: flex;
  gap: 100px;
  margin-bottom: 100px;
}

.body .directional {
  display: flex;
  margin: 0px 50px 0px 100px;
  width: 200px;
  height: 271px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.body .directional .manage {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.body .directional .title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.body .directional .body {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  margin-left: 20px;
  text-decoration: none;
}

.body .directional .order {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.body .outputdirectional {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  width: 750px;
  gap: 20px;
}

.body .outputdirectional .title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.body .outputdirectional .frame1 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.body .outputdirectional .frame1 .first {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
}

.body .outputdirectional .frame1 .last {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.body .outputdirectional .frame2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.body .outputdirectional .frame2 .email {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.body .outputdirectional .frame2 .phone {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.body .outputdirectional .password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body .outputdirectional label.header {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.body .outputdirectional input {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  outline: none;
}

.body .outputdirectional .frame3{
 display: flex;
 justify-content: flex-end;
}
.body .outputdirectional .frame3 .cancel {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid white;
  background: white ;
}
.body .outputdirectional .frame3 .save {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid white;
  background: var(--Button2, #FF385C);
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;

}
