.roadmap {
  display: flex;
  justify-content: space-between;
  margin: 50px 70px;
}

.roadmap p,
h4 {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.body {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
}

.body .directional {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin-left:45px;
}

.body .directional .manage {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.body .directional .title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  text-decoration: none;
}

.body .directional .body {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  margin-left: 20px;
  text-decoration: none;
}

.body .directional .order {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .body {
    display: flex;
    gap: 10px;
  }

  .body .directional {
    margin: 0px 25px;
  }

  .outputdirectional .frame {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}


@media only screen and (min-width: 744px) and (max-width: 949px) {
  .body {
    display: flex;
    gap: 10px;
  }

  .body .directional {
    margin: 0px 10px 0px 15px;
  }

  .body .directional .body {
    margin-left: 10px;
  }
}
