.roadmap {
  display: flex;
  justify-content: space-between;
  margin: 50px 70px;
}

.roadmap p, h4 {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.body {
  display: flex;
  gap: 100px;
  margin-bottom: 100px;
}

.body .directional {
  display: flex;
  margin: 0px 50px 0px 100px;
  width: 200px;
  height: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.body .directional .manage {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.body .directional .title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
  text-decoration: none;
}

.body .directional .body {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  margin-left: 20px;
  text-decoration: none;
}

.body .directional .order {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
