<app-header></app-header>
<div class="roadmap">
  <p>Home / My Account</p>
  <p>Hello {{user?.lastName}}!</p>
</div>
<div class="body">
  <div class="directional">
    <div class="manage">
      <p class="title">Manage My Account</p>
      <a routerLink="/myprofile" class="body">My Profile</a>
      <a routerLink="/payment" class="body">My Payment Options</a>
    </div>
    <a class="title" routerLink="/booked-trip">My Booked Trip</a>
    <a class="title" routerLink="/favorite">My Favourite</a>
  </div>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
