label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

label.name {
  font-weight: 600;
}

.title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  margin-bottom: 20px;
}

a {
  width: 98px;
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.id {
  width: 80px;
}

.location {
  width: 168px;
}

.total {
  width: 100px;
}

.payment {
  width: 80px;
}

.status {
  width: 98px;
}
