<div class="outputdirectional">
  <label class="title">Booking History</label>

  <div class="header">
    <div class="name">
      <label>Id</label>
    </div>
    <div class="name" style="border: none;">
      <label>Date</label>
    </div>
    <div class="name">
      <label>Location</label>
    </div>
    <div class="name" style="border: none;">
      <label>Total</label>
    </div>
    <div class="name">
      <label>Payment</label>
    </div>
    <div class="name" style="border: none;">
      <label>Status</label>
    </div>
    <div class="name"></div>
  </div>
  <div class="body">
    <div class="product">
      <label class="id">1</label>
      <label class="date">23/12/2023</label>
      <label class="location">abc,phuong 13, Tan Binh, HCMC</label>
      <label class="total">$123</label>
      <label class="payment">Card</label>
      <label class="status">complete</label>
      <a class="view" routerLink="/booked-trip/history-booking">View Detail</a>
    </div>
  </div>
</div>
