.outputdirectional {
  width: 900px;
}

label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.outputdirectional label.name {
  font-weight: 600;
}

.title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  margin-bottom: 20px;
}

a {
  width: 98px;
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.outputdirectional .name {
  width: 80px;
}

.outputdirectional .location {
  width: 168px;
}

.outputdirectional .total {
  width: 100px;
}

.outputdirectional .payment {
  width: 80px;
}

.outputdirectional .status {
  width: 98px;
}

.outputdirectional .view {
  width: 98px;
}


@media only screen and (max-width: 1128px) and (min-width: 950px) {
  .outputdirectional {
    width: 750px;
  }
}

@media only screen and (max-width: 949px) and (min-width: 744px) {
  .outputdirectional {
    width: 530px;
  }

  .outputdirectional .location {
    width: 230px;
  }

  .outputdirectional .payment {
    display: none;
  }

  .outputdirectional .status {
    display: none;
  }
}

@media only screen and (min-width: 550px) and (max-width: 743px) {
  .outputdirectional {
    width: 330px;
  }
  .outputdirectional .location {
    width: 190px;
  }

  .outputdirectional .payment {
    display: none;
  }

  .outputdirectional .status {
    display: none;
  }

  .outputdirectional .name {
    display: none;
  }

  .outputdirectional .total {
    display: none;
  }
}
