<div class="outputdirectional">
  <label class="title">Booking History</label>

  <div class="header">
    <div class="name">
      <label>Id</label>
    </div>
    <div class="name" style="width: 178px;">
      <label>Location</label>
    </div>
    <div class="name" style="border: none; width: 140px;">
      <label>Total</label>
    </div>
    <div class="name">
      <label>Payment</label>
    </div>
    <div class="name" style="border: none;">
      <label>Status</label>
    </div>
    <div class="name"></div>
  </div>
  <div class="body">
    <div class="product" *ngFor="let item of post">
      <label class="id">{{item.orderInfo.ifUser.post.location}}</label>
      <label class="location">{{item.orderInfo.ifUser.post.location}}</label>
      <label class="total">${{item.payment.total}}</label>
      <label class="payment">{{item.payment.payment}}</label>
      <label class="status">complete</label>
      <a class="view" routerLink='/booked-trip/history-booking' (click)="passDataToService(item)" >View Detail</a>
    </div>
  </div>
</div>
