label {
  margin: 0px;
}

.vila-owner {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0px;
}

.vila-owner .left {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.vila-owner .left .owner {
  display: flex;
  justify-content: space-between;
}

.vila-owner .left .owner .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vila-owner .left .owner .text label.title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}

.vila-owner .left .owner .text .group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.vila-owner .left .owner .text .group label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.vila-owner .left .line {
  width: 100%;
  height: 1px;
  background: #E6E6E6;
}

.vila-owner .left .describe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vila-owner .left .describe .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 15px;
  margin: 10px;
}

.vila-owner .left .describe .text {
  display: flex;
  flex-direction: column;
}

.vila-owner .left .describe .text label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.vila-owner .left div.attention {
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(43, 43, 43, 0.35);
}

.vila-owner .left div.attention .infor-attention {
  width: 100%;
  padding: 17px 35px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.vila-owner .left div.attention .infor-attention .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vila-owner .left div.attention .infor-attention label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.vila-owner .right {
  height: 100%;
  gap: 10px;
  display: flex;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #E6E6E6;
  box-shadow: 0px 0px 35px 0px rgba(155, 155, 155, 0.15);
  flex-direction: column;
  justify-content: space-between;
}

.vila-owner .right .price {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0px;
}

.vila-owner .right .rating {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.vila-owner .right .rating .star {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.vila-owner .right label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.vila-owner .right .rating .review {
  font-weight: 1000;
  text-decoration-line: underline;
}

.vila-owner .right .button {
  display: flex;
  padding: 10px;
  justify-content: center;
  border-radius: 8px;
  background: #FF385C;
}

.vila-owner .right .button label {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main {
  display: flex;
  height: 48vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main .checklogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 17vh;
  justify-content: space-between;
}

.main label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #FF385C;
  color: #fff;
}

@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .vila-owner .left {
    width: 50vw;
  }
}
