.vila-owner {
  display: flex;
  justify-content: space-between;
}

.vila-owner .info {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.vila-owner .info .owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.vila-owner .info .owner .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vila-owner .info .owner .text .title {
  color: #3E3E3E;
  font-size: 28px;
  font-weight: 1000;
  line-height: normal;
}

.vila-owner .info .owner .text .group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.vila-owner .info .line {
  width: 100%;
  height: 1px;
  background: #E6E6E6;
}

.vila-owner .info .describe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vila-owner .info .describe .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 15px;
}

.vila-owner .info .attention {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(43, 43, 43, 0.35);
}

.vila-owner .price {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid #E6E6E6;
  border-radius: 15px;
  box-shadow: 0px 0px 35px 0px rgba(155, 155, 155, 0.15);
}

.vila-owner .price .fee {
  color: #3E3E3E;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
}

.vila-owner .price .rating {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.vila-owner .price .rating .star {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.vila-owner .price .rating .review {
  color: #3E3E3E;
  font-size: 14px;
  line-height: normal;
  font-weight: 1000;
  text-decoration: underline;
}
.vila-owner .price .button {
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  background: #FF385C;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;gap: 30px;
}

.main .checklogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main p {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
}

.main button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #FF385C;
  color: #fff;
}

@media only screen and (min-width: 744px) and (max-width: 1128px) {
  .vila-owner .price {
    width: 30%;
  }
}

@media only screen  and (max-width: 743px) {
  .vila-owner {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .vila-owner .info,
  .vila-owner .price {
    width: 100%;
  }
  .vila-owner .info .owner .text .group {
  flex-wrap: wrap;
  }
}
