.plance-offers {
  margin: 0px 129px 56px 129px;
}

.plance-offers .title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  margin-bottom: 27px;
  display: flex;
}

.plance-offers .left label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plance-offers .left .beach {
  margin: 0px 184px 27px 0px;
}

.plance-offers .left .tv {
  margin: -8px 197px 19px 1px;
}

.plance-offers .left .pool {
  margin: 3px 26px 31px 0px;
}

.plance-offers .left .parking {
  margin: 4px 197px 0px 0px;
}

.plance-offers .left .wifi {
  margin: 0px 190px 0px 5px;
}

.plance-offers .right {
  width: 250px;
  height: 60px;
  margin: 13px 0px 6px 92px;
  border: 1px solid #3E3E3E;
}

.plance-offers .right label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
