.outputdirectional {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  width: 900px;
  gap: 20px;
}

.invalid-message {
  color: red;
}

.outputdirectional .title {
  color: #FF385C;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.outputdirectional .panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.outputdirectional .panel img {
  height: 100px;
}

.outputdirectional .frame1 {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.outputdirectional .frame1 .card {
  display: flex;
  gap: 25px;
}

.outputdirectional .frame1 .payment {
  width: 300px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(148, 146, 146);
  border-radius: 10px;
}

.outputdirectional .frame1 .paymentTemplate {
  width: 300px;
  height: 170px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: url(/assets/image/background-card.jpg), 50% / cover no-repeat;
  background-size: 300px 170px;
}

.outputdirectional .frame1 .paymentTemplate .background {
  width: 280px;
  height: 150px;
  background: url(/assets/image/card.png), 50% / cover no-repeat;
  background-size: 300px 170px;
}

.outputdirectional .frame1 .paymentTemplate .background .chip {
  padding-top: 35px;
}

.outputdirectional .frame1 .paymentTemplate .component {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.outputdirectional .frame1 .paymentTemplate .component .validUntil {
  display: flex;
  flex-direction: column;
}

.outputdirectional .frame1 .paymentTemplate .component .header {
  color: #bababa;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
}

.outputdirectional .frame1 .paymentTemplate .background p.body {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.outputdirectional .frame1 .payment button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #7d7c7c;
  background-color: #FF859b;
}

.dialog .form p.body, p.header {
  color: #3E3E3E;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.title {
  color: #3E3E3E;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  margin: 0px;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dialog input {
  border: 1px solid;
  border-radius: 8px;
  color: #3E3E3E;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.dialog .checkbox {
  display: flex;
  align-items: center;
  margin: 0px;
}

.dialog .checkbox input {
  width: 18px;
  height: 18px;
  margin: 0px;
}

.dialog .checkbox p {
  margin: 0px;
  margin-left: 30px;
  color: #3E3E3E;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.dialog .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.dialog .infor .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
}

.dialog .infor {
  display: flex;
  justify-content: space-between;
}

.dialog .submit {
  display: flex;
  justify-content: center;
}

.dialog .save {
  height: 50px;
  background-color: #FF385C;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 15px;
}

@media only screen and (max-width: 1128px) and (min-width: 950px) {
  .outputdirectional {
    width: 750px;
  }
}

@media only screen and (min-width: 744px) and (max-width: 949px) {
  .outputdirectional {
    width: 530px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 743px) {
  .outputdirectional {
    width: 330px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 549px) {
  .outputdirectional {
    width: 100%;
  }
  .outputdirectional .frame1 .payment {
    width: 220px;
    height: 120px ;
  }
  .outputdirectional .panel img {
    height: 60px;
  }
  .outputdirectional .frame1 .paymentTemplate .background {
    width: 200px;
    height: 100px;
    background-size: 220px 120px;
  }
  .outputdirectional .frame1 .paymentTemplate {
    width: 220px;
    height: 120px ;
    background-size: 220px 120px;
  }
  .outputdirectional .frame1 .paymentTemplate .background .chip {
    padding-top:10px;
  }
  .outputdirectional .frame1 .paymentTemplate .background p.body {
    font-size: 12px;
  }
}
