<div class="outputdirectional">
  <label class="title">Add Payment</label>
  <ng-container *ngIf="payment === null else tempalte">
    <div class="frame1">
      <div class="card">
        <div class="payment">
          <button (click)="showDialog(!visible)"><i class="fa-solid fa-plus" style="color: #fff;"></i></button>
          <label>Add Card</label>
        </div>
      </div>
    </div>
    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
      <ng-template pTemplate="header">
        <label class="title">Add Card</label>
      </ng-template>
      <div class="dialog">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form">
            <label class="header">Card Number</label>
            <input type="text" formControlName="cardNumber" minlength="6">
            <ng-container *ngIf="f['cardNumber'].invalid && f['cardNumber'].touched">
              <div class="invalid-message" *ngIf="f['cardNumber'].errors?.['required']">
                This Card Number cannot be left blank.
              </div>
              <div class="invalid-message" *ngIf="f['cardNumber'].errors?.['minlength']">
                Card Number is not in correct format (Card Number is too short).
              </div>
            </ng-container>
          </div>
          <div class="infor">
            <div class="form">
              <label class="header">Valid Date Until</label>
              <p-calendar formControlName="validUntil" dateFormat="dd.mm.yy"></p-calendar>
              <ng-container *ngIf="f['validUntil'].invalid && f['validUntil'].touched">
                <div class="invalid-message" *ngIf="f['validUntil'].errors?.['required']">
                  This Valid Date Until cannot be left blank.</div>
              </ng-container>
            </div>
            <div class="form">
              <label class="header">CVV</label>
              <input type="text" pInputText formControlName="cvv" />
              <ng-container *ngIf="f['cvv'].invalid && f['cvv'].touched">
                <div class="invalid-message" *ngIf="f['cvv'].errors?.['required']">This CVV cannot be left blank.</div>
                <div class="invalid-message" *ngIf="f['cvv'].errors?.['minlength']">
                  CVV is not in correct format (CVV is too short).
                </div>
              </ng-container>
            </div>
          </div>
          <div class="form">
            <label class="header">Name On Card</label>
            <input type="text" formControlName="name">
            <ng-container *ngIf="f['name'].invalid && f['name'].touched">
              <div class="invalid-message" *ngIf="f['name'].errors?.['required']">This Name cannot be left blank.</div>
              <div class="invalid-message" *ngIf="f['name'].errors?.['minlength']">
                Name is not in correct format (Name is too short).
              </div>
            </ng-container>
          </div>
          <div class="checkbox">
            <input type="checkbox" formControlName="checkBox">
            <p>By tapping the button above, you have agreed to Nginep Terms & Conditions and Privacy Policy.</p>
          </div>
          <ng-container *ngIf="f['checkBox'].invalid">
            <div class="invalid-message" *ngIf="f['checkBox'].errors?.['required']">Cannot be left blank.</div>
          </ng-container>
          <div class="submit">
            <button type="submit" class="save" [disabled]="form.invalid">Add Card</button>
          </div>
        </form>
      </div>
    </p-dialog>
  </ng-container>

  <ng-template #tempalte>
    <div class="frame1" (click)="showDialog2(!visible2)">
      <div class="paymentTemplate">
        <div class="background">
          <div class="chip"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="25" viewBox="0 0 65 48" fill="none">
            <rect x="0.5" y="1.5" width="63.2333" height="46" rx="5.5" fill="url(#paint0_linear_1_26)" stroke="black"/>
            <rect x="0.5" y="16.3833" width="17.8" height="14.6667" fill="url(#paint1_linear_1_26)" stroke="black"/>
            <path d="M18.4084 30.7667V40.1667C21.8191 42.6512 21.3321 44.5957 18.0167 47.6083" stroke="black"/>
            <rect x="-0.5" y="0.5" width="17.8" height="14.6667" transform="matrix(-1 0 0 1 63.2333 15.8833)" fill="url(#paint2_linear_1_26)" stroke="black"/>
            <path d="M45.7668 1.39167C42.3 2.56667 42.3807 5.19472 45.7668 9.225V40.3853C41.8507 42.9276 42.6917 44.475 45.0417 47.6083" stroke="black"/>
            <path d="M18.4083 1.39167C18.8 3.48056 18.4083 5.7 14.8833 7.26667" stroke="black"/>
            <defs>
              <linearGradient id="paint0_linear_1_26" x1="32.1167" y1="1" x2="32.1167" y2="48" gradientUnits="userSpaceOnUse">
                <stop stop-color="#B7B7B7"/>
                <stop offset="0.505208" stop-color="#DFD6D6"/>
                <stop offset="1" stop-color="#EFE1E1"/>
              </linearGradient>
              <linearGradient id="paint1_linear_1_26" x1="9.4" y1="15.8833" x2="9.4" y2="31.55" gradientUnits="userSpaceOnUse">
                <stop stop-color="#B7B7B7"/>
                <stop offset="0.505208" stop-color="#DFD6D6"/>
                <stop offset="1" stop-color="#EFE1E1"/>
              </linearGradient>
              <linearGradient id="paint2_linear_1_26" x1="9.4" y1="0" x2="9.4" y2="15.6667" gradientUnits="userSpaceOnUse">
                <stop stop-color="#B7B7B7"/>
                <stop offset="0.505208" stop-color="#DFD6D6"/>
                <stop offset="1" stop-color="#EFE1E1"/>
              </linearGradient>
            </defs>
          </svg></div>
          <div class="cardNumber">
            <!-- <label class="header">Card Number</label> -->
            <label class="body">{{payment.cardNumber}}</label>
          </div>
          <div class="component">
            <div class="validUntil">
              <label class="header">Valid Until:</label>
              <label class="body">{{payment.validUntil}}</label>
            </div>
            <div class="cvv">
              <label class="header">CVV:</label>
              <label class="body">{{payment.cvv}}</label>
            </div>
          </div>
          <div class="name">
            <label class="body">{{payment.name}}</label>
          </div>
        </div>
      </div>
    </div>

    <p-dialog header="My Card" [(visible)]="visible2" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false"
      [resizable]="false">
      <div class="dialog">
        <div class="form">
          <label class="header">Card Number</label>
          <label class="body">{{payment.cardNumber}}</label>
        </div>
        <div class="infor">
          <div class="form">
            <label class="header">Valid Date Until</label>
            <label class="body">{{payment.validUntil}}</label>
          </div>
          <div class="form">
            <label class="header">CVV</label>
            <label class="body">{{payment.cvv}}</label>
          </div>
        </div>
        <div class="form">
          <label class="header">Name On Card</label>
          <label class="body">{{payment.name}}</label>
        </div>
        <div class="submit">
          <button (click)="visible = false" class="save" (click)="deleteCard()">Delete Card</button>
        </div>
      </div>
    </p-dialog>
  </ng-template>

  <div class="panel">
    <img src="/assets/image/payment.jpg" alt="">
  </div>
</div>
