<div class="outputdirectional">
  <label class="title">Add Payment</label>
  <div class="frame1">

    <div class="card">
      <div class="payment">
        <button (click)="showDialog(!visible)"><i class="fa-solid fa-plus" style="color: #fff;"></i></button>
        <label>Add Card</label>
      </div>
      <div class="payment">
        <button (click)="showDialog(!visible)"><i class="fa-solid fa-plus" style="color: #fff;"></i></button>
        <label>Add Card</label>
      </div>
      <div class="payment">
        <button (click)="showDialog(!visible)"><i class="fa-solid fa-plus" style="color: #fff;"></i></button>
        <label>Add Card</label>
      </div>
    </div>
  </div>
  <div class="panel">
    <img src="/assets/image/payment.jpg" alt="">
  </div>
</div>
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <label class="title">Add Card</label>
  </ng-template>
  <div class="dialog">
    <div class="form">
      <label class="header">Card Number</label>
      <input type="text" >
    </div>
    <div class="infor">
      <div class="form">
        <label class="header">Valid Until</label>
        <input type="text" >
      </div>
      <div class="form">
        <label class="header">CVV</label>
        <input type="text">
      </div>
    </div>
    <div class="form">
      <label class="header">Name On Card</label>
      <input type="text" >
    </div>
    <div class="checkbox">
      <input type="checkbox"><p>By tapping the button above, you have agreed to Nginep<label>Terms & Conditions</label> and<label>Privacy Policy</label>.</p>
    </div>
    <button class="save">Add Card</button>
  </div>
</p-dialog>
