<div class="post">
  <div class="beach" *ngFor="let beach of listBeach;let i = index" style="margin: 15px">
    <div class="image">
      <div class="image-slider">
        <img [src]="getCurrentImageSource(i)" alt="Image">
      </div>
      <div class="overlay">
        <div class="favorite" (click)="toggleFavorite(beach,i)" [ngClass]="{'favorite-hover': favoriteStatus[i]}">
          <i class="fas fa-heart"></i>
        </div>
        <div class="next-prev">
          <div class="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"
              (click)="changeImage(false, i)" *ngIf="showPrevButton">
              <circle cx="15" cy="15" r="15" transform="matrix(-1 0 0 1 30 0)" fill="white" fill-opacity="0.8" />
              <path d="M18 19.59L13.6734 15L18 10.41L16.668 9L11 15L16.668 21L18 19.59Z" fill="#3E3E3E" />
            </svg>
          </div>
          <div class="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"
              (click)="changeImage(true, i)" *ngIf="showNextButton">
              <circle cx="15" cy="15" r="15" fill="white" fill-opacity="0.8" />
              <path d="M12 19.59L16.3266 15L12 10.41L13.332 9L19 15L13.332 21L12 19.59Z" fill="#3E3E3E" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="title" [routerLink]="['/detail/', beach.id]">
      <div class="infor">
        <p class="location">{{beach.location}}</p>
        <p class="where">{{beach.distance}}</p>
        <p class="date">{{beach.date}}</p>
        <div class="price">
          <label class="price">${{beach.price}} </label><label class="time">{{beach.time}}</label>
        </div>
      </div>
      <div class="star">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none">
          <path
            d="M7.24498 10.9028C7.40221 10.8096 7.59779 10.8096 7.75502 10.9028L11.1212 12.8989C11.5008 13.124 11.9647 12.7827 11.8627 12.3533L10.9757 8.61786C10.9323 8.43506 10.9951 8.24335 11.1381 8.12158L14.0845 5.61391C14.4232 5.32565 14.2452 4.77182 13.802 4.73488L9.9063 4.41017C9.72237 4.39484 9.56184 4.27942 9.48873 4.10995L7.9591 0.564213C7.78542 0.161621 7.21458 0.161621 7.0409 0.564213L5.51127 4.10995C5.43816 4.27942 5.27763 4.39484 5.0937 4.41017L1.19803 4.73488C0.754811 4.77182 0.5768 5.32565 0.915492 5.61391L3.86187 8.12158C4.00494 8.24335 4.06768 8.43506 4.02427 8.61786L3.13729 12.3533C3.03533 12.7827 3.49916 13.124 3.87879 12.8989L7.24498 10.9028Z"
            fill="black" />
        </svg>
        <label class="point">{{beach.star}}</label>
      </div>
    </div>
  </div>
</div>
