<div class="detail">
  <app-header></app-header>
  <div class="title">
    <label class="text">Beautiful villa on the edge of BLUE LAGOON</label>
  </div>

  <app-decrip></app-decrip>

  <app-image></app-image>

  <app-vila-owner></app-vila-owner>

  <app-plance-offers></app-plance-offers>

  <div class="line"></div>
  <app-review></app-review>

  <app-comments></app-comments>

  <div class="line"></div>

  <app-map></app-map>

  <div class="line"></div>

  <app-infor-hosted></app-infor-hosted>
  <app-footer></app-footer>
</div>
