<div class="detail">
  <app-header></app-header>
  <div class="title">
    <label class="text">Beautiful villa on the edge of BLUE LAGOON</label>
  </div>

  <app-decrip></app-decrip>

  <app-image></app-image>

  <app-vila-owner></app-vila-owner>

  <app-plance-offers></app-plance-offers>

  <div class="line"></div>
  <app-review></app-review>

  <app-comments></app-comments>

  <div class="line"></div>

  <app-map></app-map>

  <div class="line"></div>

  <app-infor-hosted></app-infor-hosted>

  <div class="footer">
    <div class="footer1">
      <label class="title">Explore other options in and around Nusa Ceningan</label>
      <div class="column1">
        <label>Lombok</label>
        <label>Bingin Beach</label>
        <label>Kuta Beach</label>
      </div>
      <div class="column2">
        <label>Sanur</label>
        <label>Gili Trawangan</label>
        <label>Seminyak Beach</label>
      </div>
      <div class="column3">
        <label>Penida Island</label>
        <label>Nusa Dua Beach</label>
        <label>Canggu Beach</label>
      </div>
      <div class="column4">
        <label>Denpasar</label>
        <label>Nusa Lembongan</label>
        <label>Ubud</label>
      </div>
      <label class="end">Nginep > Indonesia > Bali > Klungkung Regency > Penida Island > Ceningan Island</label>
    </div>

    <div class="line"></div>

    <div class="footer2">
      <div class="support">
        <label style="font-weight: 600;">Support</label>
        <label>Help Center</label>
        <label>NgCover</label>
        <label>Supporting people with disabilities</label>
        <label>Cancellation options</label>
        <label>Our COVID-19 Response</label>
      </div>
      <div class="community">
        <label style="font-weight: 600;">Community</label>
        <label>Nginep.org</label>
      </div>
      <div class="hosting">
        <label style="font-weight: 600;">Hosting</label>
        <label>Nginep your home</label>
        <label>Explore hosting resources</label>
        <label>Visit community forum</label>
      </div>
      <div class="nginep">
        <label style="font-weight: 600;">Nginep</label>
        <label>Newsroom</label>
        <label>About new features</label>
        <label>Letter from our founders</label>
        <label>Careers</label>
        <label>Investor</label>
      </div>

    </div>

    <div class="line2"></div>

    <app-footer></app-footer>
  </div>
</div>
