
.decrip {
  display: flex;
}

.decrip .review {
  width: 490px;
  height: 21px;
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 8px 557px 34px 129px;
}

.decrip .review .star {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.decrip .review .star label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.decrip .review .reviews {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  text-decoration-line: underline;
}

.decrip .review .popularity {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.decrip .review .location {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  text-decoration-line: underline;
}

.decrip .interact {
  display: flex;
  margin: 8px 128px 35px 1px;
  gap: 20px;
}

.decrip .interact .share {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.decrip .interact .share label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.decrip .interact .save {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.decrip .interact .save label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
