.outputdirectional {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  width: 750px;
  gap: 20px;
}

.outputdirectional .title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.outputdirectional .body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding: 0px;
}

.outputdirectional .body .post {
  display: flex;
  align-items: center;
}

.outputdirectional .body img {
  width: 250px;
  height: 100px;
  border-radius: 15px;
}
.outputdirectional .body .categories{
  width: 102px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.outputdirectional .body .categories span{
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  cursor: pointer;
}
.outputdirectional .body .stt {
  width: 70px;
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 5px;
}
.outputdirectional .body .location {
  width: 300px;
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 10px;
}

.outputdirectional .body .view {
  width: 100px;
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 5px;
}
