<div class="outputdirectional">
  <label class="title">Booking History</label>
  <div class="header">
    <div class="stt">
      <label>Stt</label>
    </div>
    <div class="location" style="width: 290px; border: none;">
      <label>Location</label>
    </div>
    <div class="image" style="width: 244px; border-right: none">
      <label>Image</label>
    </div>
    <div class="view"></div>
  </div>
  <div class="body">
    <div class="product">
      <label class="stt">1</label>
      <label class="location">abc,tanbinh,hcmc</label>
      <label class="image">image.png</label>
      <label routerLink="/detail" class="view">View detail</label>
    </div>
    <div class="product">
      <label class="stt">1</label>
      <label class="location">abc,tanbinh,hcmc</label>
      <label class="image">image.png</label>
      <label routerLink="/detail" class="view">View detail</label>
    </div>
    <div class="product">
      <label class="stt">1</label>
      <label class="location">abc,tanbinh,hcmc</label>
      <label class="image">image.png</label>
      <label routerLink="/detail" class="view">View detail</label>
    </div>
    <div class="product">
      <label class="stt">1</label>
      <label class="location">abc,tanbinh,hcmc</label>
      <label class="image">image.png</label>
      <label routerLink="/detail" class="view">View detail</label>
    </div>
  </div>
</div>
