.outputdirectional {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  width: 900px;
  gap: 20px;
}

.outputdirectional .title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.outputdirectional .body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding: 0px;
}

.outputdirectional .body .post {
  display: flex;
  align-items: center;
}

.outputdirectional .body img {
  width: 250px;
  height: 100px;
  border-radius: 15px;
}

.outputdirectional .body .categories {
  width: 102px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.outputdirectional .body .categories span {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  cursor: pointer;
}

.outputdirectional .body .location {
  width: 300px;
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outputdirectional .body .view {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 5px;
}

@media only screen and (max-width: 1128px) and (min-width: 980px) {
  .outputdirectional {
    width: 750px;
  }

  .outputdirectional .body img {
    width: 200px;
    height: 80px;
  }

  .outputdirectional .body .location {
    width: 250px;
  }

}

@media only screen and (max-width: 985px) and (min-width: 950px) {
  .outputdirectional {
    width: 630px;
  }

  .outputdirectional .body img {
    width: 200px;
    height: 80px;
  }

  .outputdirectional .body .location {
    width: 250px;
  }
}

@media only screen and (max-width: 949px) and (min-width: 744px) {
  .outputdirectional {
    width: 530px;
  }

  .outputdirectional .body img {
    width: 170px;
    height: 70px;
  }

  .outputdirectional .body .location {
    width: 180px;
  }
}


@media only screen and (min-width: 550px) and (max-width: 743px) {
  .outputdirectional {
    width: 330px;
  }

  .outputdirectional .body img {
    display: none;
  }

  .outputdirectional .body .categories {
    display: none;
  }

  .outputdirectional .body .location {
    width: 240px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 549px) {
  .outputdirectional {
    width: 275px;
  }

  .outputdirectional .body img {
    display: none;
  }

  .outputdirectional .body .categories {
    display: none;
  }

  .outputdirectional .body .location {
    width: 175px;
  }
}
