<div class="outputdirectional">
  <label class="title">Booking History</label>
  <p-dataView #dv [value]="listFavorite" [rows]="5" [paginator]="true">
    <ng-template let-listFavorite pTemplate="list">
      <div class="body">
        <div class="post" *ngFor="let favorite of listFavorite; let first = first"
          [ngClass]="{ 'border-top-1 surface-border': !first }">
          <img class="image" [src]="favorite.image[0]" [alt]="favorite.location" />
          <div class="location">{{ favorite.location }}</div>
          <div class="categories">
            <i class="fa-solid fa-tag"></i>
            <span>{{ favorite.categories }}</span>
          </div>
          <div>
            <a routerLink="/detail" class="view">View detail</a>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
