label {
  margin: 0px;
}

.infor-hosted {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header .title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header .title label,
.header .title h3 {
  color: #3E3E3E;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
}

.body {
  display: flex;
  gap: 20px;
}

.body .group {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}

.body .group .evaluate {
  display: flex;
  align-items: center;
  gap: 6px;
}

.body .group .evaluate .value {
  display: flex;
  align-items: center;
  gap: 2px;
}

.body .group .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #3E3E3E;
  width: 135px;
}

.line {
  width: 100%;
  height: 1px;
  background: #E6E6E6;
}

.last {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.last .title {
  color: #3E3E3E;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
}

.last .item {
  display: flex;
  justify-content: space-between;
}

.last .item .group {
  width: 25%;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.last .item .group .property{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.last .item .group .more, .more:hover{
  color: #3E3E3E;
  text-decoration: underline;
}

@media only screen and (min-width: 744px) and (max-width: 949px) {
  .body {
    justify-content: space-between;
  }
  .body .group {
    width: 100%;
  }
} 

@media only screen and  (max-width: 743px) {
  .body {
    flex-direction: column;
    gap: 10px;
  }  
  .body .group {
    width: 100%;
  }
  .body .group .evaluate {
    flex-wrap: wrap;
  }

  .last .item {    
    flex-direction: column;
  }

  .last .item .group {
    width: 100%;
    justify-content: flex-start;
    gap: 15px;
  }

  .infor-hosted .last .item {
    gap: 10px;
  }
}