.header {
  height: 80px;
  margin: 0px 950px 34px 128px;
}

.header .title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 6px;
}

.header label.title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body .evaluate {
  height: 21px;
  margin: 0px 162px 15px 128px;
}

.body .evaluate label.star {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.body .evaluate .reviews {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.body .evaluate label.popularity {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.body .evaluate label.verified {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

label.language {
  width: 429px;
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 305px 19px 0px;
}

label.summary {
  width: 428px;
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: -14px 150px 31px 128px;
}

label.rate {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 610px 19px 0px;
  height: 21px;
}

.during {
  gap: 10px;
  margin: -10px 420px 25px 128px;
}

.during label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

label.response {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 524px 39px 0px;
}

.button {
  width: 185px;
  height: 60px;
  border: 1px solid #3E3E3E;
}

.button label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.decrip {
  margin: 0px 149px 50px 127px;
  width: 429px;
}

.decrip label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line {
  width: 1183px;
  height: 1px;
  flex-shrink: 0;
  background: #E6E6E6;
  margin: 4px 128px 45px 129px;
}


.last .title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px 1055px 30px 129px;
}

.last .item {
  margin: 0px 129px 81px 128px;
}

.last .item .rules {
  height: 175px;
  margin-right: 229px;
}

.last .item .rules .name {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.last .item .rules .properties {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.last .item .rules .more {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.last .item .safety {
  width: 173px;
  height: 175px;
  margin-right: 229px;
}

.last .item .safety .name {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.last .item .safety .properties {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.last .item .safety .more {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.last .item .policy {
  width: 372px;
  height: 175px;
}

.last .item .policy .name {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.last .item .policy .properties {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.last .item .policy .more {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
