img {
  width: 800px;
  height: 500px;
  border-radius: 0px 20px 20px 0px;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  justify-content: flex-start;
  margin: 80px 0px;
}

.body .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 360px;
}

.body .input .forminput{
  display: flex;
  flex-direction:  column;
  gap: 30px
}
.body .input .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.body .input .title label {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.body .input .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.body .input .form input {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  outline: none;
  width: 100%;
}

.body .create-acc button {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid white;
  background:  #FF385C;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  width: 360px;
}
/* .body .login-gmail{
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #E6E6E6;
  border-radius: 15px;
  width: 100%;
} */
.body .login-gmail button{
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #979797;
  background-color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  width: 360px;
}
.body .login label{
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin: 0px;
}
.body .input a {
  color: #FF385C;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
}
