<div class="review">
  <div class="title">
    <div class="star">
      <i class="pi pi-star-fill" style="font-size: 22px;"></i>
      <p>{{post.star}}</p>
    </div>
    <i class="pi pi-circle-on" style="font-size: 8px;"></i>
    <p>1,800 reviews</p>
  </div>
  <div class="evaluate">
    <div class="group">
      <div class="property">
        <p class="name">Cleanliness</p>
        <div class="point">
          <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none">
            <rect width="171" height="4" fill="#E6E6E6" />
            <rect width="166" height="4" fill="#3E3E3E" />
          </svg>
          <p class="number">4.8</p>
        </div>
      </div>
      <div class="property">
        <p class="name">Accuracy</p>
        <div class="point">
          <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none">
            <rect width="171" height="4" fill="#E6E6E6" />
            <rect width="166" height="4" fill="#3E3E3E" />
          </svg>
          <p class="number">4.8</p>
        </div>
      </div>
      <div class="property">
        <p class="name">Communication</p>
        <div class="point">
          <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none">
            <rect width="171" height="4" fill="#E6E6E6" />
            <rect width="166" height="4" fill="#3E3E3E" />
          </svg>
          <p class="number">4.9</p>
        </div>
      </div>
    </div>
    <div class="group">
      <div class="property">
        <p class="name">Location</p>
        <div class="point">
          <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none">
            <rect width="171" height="4" fill="#E6E6E6" />
            <rect width="166" height="4" fill="#3E3E3E" />
          </svg>
          <p class="number">4.9</p>
        </div>
      </div>
      <div class="property">
        <p class="name">Check-in</p>
        <div class="point">
          <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none">
            <rect width="171" height="4" fill="#E6E6E6" />
            <rect width="166" height="4" fill="#3E3E3E" />
          </svg>
          <p class="number">4.9</p>
        </div>
      </div>
      <div class="property">
        <p class="name">Value</p>
        <div class="point">
          <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none">
            <rect width="171" height="4" fill="#E6E6E6" />
            <rect width="166" height="4" fill="#3E3E3E" />
          </svg>
          <p class="number">4.7</p>
        </div>
      </div>
    </div>
  </div>
</div>