
<!-- <div class="review"> -->
  <div class="title d-flex align-items-center gap-3">
    <div class="star d-inline-flex justify-content-center align-items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
        <path
          d="M10.6246 16.9195C10.8537 16.774 11.1463 16.774 11.3754 16.9195L16.3742 20.0954C16.9002 20.4296 17.5679 19.9616 17.433 19.3531L16.0817 13.2556C16.0274 13.0109 16.1082 12.7559 16.2934 12.5869L20.8235 8.45599C21.2737 8.0455 21.0209 7.29572 20.4141 7.24153L14.518 6.71497C14.2559 6.69157 14.0292 6.52323 13.9309 6.2792L11.6493 0.61271C11.4139 0.0279777 10.5861 0.0279773 10.3507 0.61271L8.06911 6.2792C7.97085 6.52323 7.74406 6.69157 7.48203 6.71497L1.58589 7.24153C0.979083 7.29572 0.726331 8.0455 1.17649 8.45599L5.70656 12.5869C5.89179 12.7559 5.97256 13.0109 5.91832 13.2556L4.56698 19.3531C4.43214 19.9616 5.09977 20.4296 5.62577 20.0954L10.6246 16.9195Z"
          fill="black" />
      </svg>
      <label>4.83</label>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
      <circle cx="3" cy="3" r="3" fill="#3E3E3E" />
    </svg>
    <label>1,800 reviews</label>
  </div>
  <div class="evaluate d-flex flex-wrap">
    <div class="clean d-flex align-items-center">
      <label class="name">Cleanliness</label>
      <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none" style="margin-top: 4px;">
        <rect width="171" height="4" fill="#E6E6E6" />
        <rect width="166" height="4" fill="#3E3E3E" />
      </svg>
      <label class="number">4.8</label>
    </div>
    <div class="accuracy d-flex align-items-center">
      <label class="name">Accuracy</label>
      <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none" style="margin-top: 4px;">
        <rect width="171" height="4" fill="#E6E6E6" />
        <rect width="166" height="4" fill="#3E3E3E" />
      </svg>
      <label class="number">4.8</label>
    </div>
    <div class="communication d-flex align-items-center">
      <label class="name">Communication</label>
      <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none" style="margin-top: 4px;">
        <rect width="171" height="4" fill="#E6E6E6" />
        <rect width="166" height="4" fill="#3E3E3E" />
      </svg>
      <label class="number">4.9</label>
    </div>
    <div class="location d-flex align-items-center">
      <label class="name">Location</label>
      <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none" style="margin-top: 4px;">
        <rect width="171" height="4" fill="#E6E6E6" />
        <rect width="166" height="4" fill="#3E3E3E" />
      </svg>
      <label class="number">4.9</label>
    </div>
    <div class="checkin d-flex align-items-center">
      <label class="name">Check-in</label>
      <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none" style="margin-top: 8px;">
        <rect width="171" height="4" fill="#E6E6E6" />
        <rect width="166" height="4" fill="#3E3E3E" />
      </svg>
      <label class="number">4.9</label>
    </div>
    <div class="value d-flex align-items-center">
      <label class="name">Value</label>
      <svg xmlns="http://www.w3.org/2000/svg" width="171" height="4" viewBox="0 0 171 4" fill="none" style="margin-top: 8px;">
        <rect width="171" height="4" fill="#E6E6E6" />
        <rect width="166" height="4" fill="#3E3E3E" />
      </svg>
      <label class="number">4.7</label>
    </div>
  </div>
<!-- </div> -->
