.review {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.review .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review .title .star {
  display: flex;
  align-items: center;
  gap: 5px;
}

.review .title p {
  color: #3E3E3E;
  font-size: 28px;
  font-weight: 1000;
  line-height: normal;
}

.review .evaluate {
  display: flex;
  justify-content: space-between;
}

.review .evaluate .point {
  display: flex;
  align-items: center;
  gap: 8px
}

.review .evaluate .property {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 8px;
}

@media only screen and (min-width: 744px) and (max-width: 1128px) {
  .review .evaluate .property {
    width: 350px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 743px) {
  .review .evaluate {
    flex-direction: column;
  }

  .review .evaluate .property {
    width: 100%;
  }
}

@media only screen and (max-width: 399px) {
  .review .title {
    flex-wrap: wrap;
  }

  .review .evaluate {
    flex-direction: column;
  }

  .review .evaluate .property {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}