
.header {
  width: 100%;
}

.header img {
  width: 100%;
  height: auto;
}

.header .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.header .text label{
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about label.title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.about label.body {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.about .content,
.content2 {
  width: 85%;
}

.about .content .decription {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.about .content .decription .body {
  width: 45%;
}

.about img {
  width: 40%;
  height: auto;
  border-radius: 15px;
}

.about .content2 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  background-color: #ffe9e9;
}

.about .content2 .decription {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 10px;
}


@media only screen and (min-width: 320px) and (max-width: 743px) {
  .about img {
    display: none;
  }

  .about .content .decription .body {
    width: 100%;
  }

  .about .content2 .decription {
    width: 100%
  }
}
