.header {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: auto;
}

.header img {
  width: 1440px;
  height: 440px;
}

.header .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.header label.title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 115px;
}

.header label.body {
  color: #FF385C;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 171px;
}

.about {
  margin: 0px 80px;
}

.about .content label.title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 20px;
}

.about .content .decription {
  display: flex;
  margin-top: 10px;
  gap: 140px;
}

.about .content .decription img {
  width: 500px;
  height: 300px;
  margin-top: -48px;
  border-radius: 15px;
}

.about .content .decription .text {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 600px;
}

.about .content2 {
  display: flex;
  gap: 140px;
  margin: 20px 0px;
  background-color: #ffe9e9;
}

.about .content2 img {
  width: 500px;
  height: 300px;
  border-radius: 15px;
}

.about .content2 .decription {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about .content2 .decription .title {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about .content2 .decription .body {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
