<app-header></app-header>
<div class="header">
  <img src="/assets/image/aboutUs/thumbnail.jpg" alt="">
  <div class="text">
    <label class="title">About Us</label>
    <label class="body">Life, Your Way</label>
  </div>
</div>
<div class="about">
  <div class="content">
    <p-tabView>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <label class="title">Who We Are</label>
        </ng-template>
        <div class="decription">
          <label class="text">We are travelers and technologists. We work across time zones, hemispheres, cultures and
            languages. We’re used to breaking things down and building them back up again, until they’re even better. We
            know travel can be hard, but we also know that it’s worth it, every time. And because we believe travel is a
            force for good, we take our roles seriously. We’re here to build great products, and facilitate connections
            between travelers and our partners that truly bring good into the world.</label>
          <img src="/assets/image/aboutUs/about1.jpg" alt="">
        </div>
      </p-tabPanel>
      <p-tabPanel class="decription">
        <ng-template pTemplate="header">
          <label class="title">What We Do</label>
        </ng-template>
        <div class="decription">
          <label class="text">We build connections. We leverage our platform and technology capabilities across an
            extensive portfolio of businesses and brands to orchestrate the movement of people and the delivery of
            travel experiences on both a local and global basis. We help our travelers and our partners find the right
            pathways  through millions of possibilities to reach the best possible outcome.</label>
          <img src="/assets/image/aboutUs/about2.jpg" alt="">
        </div>
      </p-tabPanel>
      <p-tabPanel class="decription">
        <ng-template pTemplate="header">
          <label class="title">How We Do It</label>
        </ng-template>
        <div class="decription">
          <label class="text">Powered by more than 70+ petabytes of data and 20+ years of tech innovation, Expedia Group
            is one of the world’s largest travel platforms. With unrivaled knowledge of the industry and advanced tech
            innovation, we built a two sided marketplace that allows us to filter through millions of different
            possibilities, for travelers and partners worldwide.</label>
          <img src="/assets/image/aboutUs/about3.jpg" alt="">
        </div>
      </p-tabPanel>
    </p-tabView>

  </div>
  <div class="content2">
    <img src="/assets/image/aboutUs/content2.png" alt="">
    <div class="decription">
      <label class="title">What's next</label>
      <label class="body"> The pandemic changes the world, but it also rallies Expedians like never before. We act fast,
        launching
        recovery initiatives designed to support the business, our partners, destinations and industry.
        Travel is a force for good, and we are a force for travel. At Expedia Group we believe travel can bring good
        into the world, and so our mission is to power global travel for everyone, everywhere</label>
    </div>
  </div>
</div>
<app-footer></app-footer>
