.detail {
  width: 1440px;
  height: 5009px;
}

div.title label.text {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  margin: 25px 672px 3px 129px;
  display: flex
}

.line {
  width: 1183px;
  height: 1px;
  flex-shrink: 0;
  background: #E6E6E6;
  margin: 0px 128px 45px 129px;
}
