.container1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.container1 .title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container1 label.header {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.container1 .body {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.container1 .header {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.container1 .header .checkinout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.container1 .header .checkinout .check-in {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container1 .header .checkinout .check-out {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container1 .header .guest {
  width: 30%;
}

.container1 .header .total {
  width: 30%;
}

.container1 .header .total .line {
  width: 100%;
  height: 1px;
  margin: 20px 0px;
  flex-shrink: 0;
  background: #E6E6E6;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.button button {
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background: #FF385C;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.paymentmethod {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.paymentmethod .title {
  color: #FF385C;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.paymentmethod .method {
  margin-left: 30px;
  display: flex;
  gap: 20px;
}

.paymentmethod .method .input {
  display: flex;
  gap: 10px;
  align-items: center;
}
.paymentmethod .method .input input{
width: 15px ;
height: 15px;
margin: 0px;
}
.paymentmethod .method .input label.namemethod{
  color: #3e3e3e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
