.main {
  width: 1440px;
  height: auto;
  background: #FFF;
  margin: 0px ;
  padding: 0px;
}

.question-bar {
  height: 70px;
  /* display: flex;
  padding: 10px;
  align-items: center;
  background: #F7F7F7;
  justify-content: flex-end; */
}

.question-bar label.question {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 14px 0px 14px 602px;
}

.question-bar label {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
