<div class="main">
  <div class="question-bar">
    <label class="question">
      Hey, <label>Where are you going? </label>
    </label>
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none"
      style="margin: 17px 15px 17px 573px;">
      <path
        d="M8.5 0C3.7995 0 0 3.7995 0 8.5C0 13.2005 3.7995 17 8.5 17C13.2005 17 17 13.2005 17 8.5C17 3.7995 13.2005 0 8.5 0ZM12.75 11.5515L11.5515 12.75L8.5 9.6985L5.4485 12.75L4.25 11.5515L7.3015 8.5L4.25 5.4485L5.4485 4.25L8.5 7.3015L11.5515 4.25L12.75 5.4485L9.6985 8.5L12.75 11.5515Z"
        fill="#B8B8B8" />
    </svg>
  </div>

  <app-header (newItemEvent)="addItem($event)"></app-header>

  <ng-container *ngIf="postSearch.length !== 0  else templateSearch ">
    <p-tabView>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="nav">
            <div class="basic">
              <div><i class="fa-solid fa-magnifying-glass" style="width: 50px; height: 40px; margin: 20px 30px 13px; color:#3E3E3E ;"></i></div>
              <label class="active">Your Search </label>
            </div>
          </div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  <app-beach [postSelected]="postSearch"></app-beach>

  </ng-container>

  <ng-template #templateSearch>
    <p-tabView [(activeIndex)]="activeIndex" (click)="onChangeTab(activeIndex)">
      <p-tabPanel *ngFor="let category of category">
        <ng-template pTemplate="header">
          <div class="nav">
            <div class="basic">
              <div [innerHTML]="category.icon"></div>
              <label class="active">{{category.name}}</label>
            </div>
          </div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
    <app-beach [postSelected]="postSelected"></app-beach>

  </ng-template>


  <app-showmap></app-showmap>

  <app-footer></app-footer>
</div>
