<div class="main">
  <div class="question-bar">
    <div></div>
    <label class="question">
      Hey, <strong>Where are you going? </strong>
    </label>
    <i class="pi pi-times-circle" style="font-size: 17px; margin: 17px;"></i>
  </div>

  <app-header (newItemEvent)="searchProduct($event)"></app-header>

  <ng-container *ngIf="postSearch.length !== 0  else templateSearch ">
    <p-tabView>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="nav">
            <div class="basic">
              <div><i class="fa-solid fa-magnifying-glass"
                  style="width: 50px; height: 40px; margin: 20px 30px 13px; color:#3E3E3E ;"></i></div>
              <label class="active">Your Search </label>
            </div>
          </div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
    <app-beach [postSelected]="postSearch"></app-beach>
  </ng-container>

  <ng-template #templateSearch>
    <div class="list_category">
      <p-tabView (onChange)="changeTab($event.index)">
        <p-tabPanel *ngFor="let category of category">
          <ng-template pTemplate="header">
            <div class="basic">
              <div [innerHTML]="category.icon"></div>
              <label class="active">{{category.name}}</label>
            </div>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
    <app-beach [postSelected]="postSelected"></app-beach>
  </ng-template>

  <app-showmap style="display: flex;width: 100%;justify-content: center;"></app-showmap>

  <app-footer></app-footer>
</div>