<div class="image" (click)="navigate(true,beach.id)">
  <img loading="lazy" [src]="getCurrentImageSource(currentImageIndex)" alt="Image">
  <div class="favorite" (click)="addFavorite(beach)" [ngClass]="{'favorite-hover': beach.isFavorite}">
    <i class="fas fa-heart"></i>
  </div>
  <div class="overlay">
    <div class="next-prev">
      <div class="prev">
        <i class="pi pi-chevron-circle-left" style="font-size: 30px;" (click)="changeImage(false)"
          *ngIf="showPrevButton"></i>
      </div>
      <div class="next">
        <i class="pi pi-chevron-circle-right" style="font-size: 30px;" (click)="changeImage(true)"
          *ngIf="showNextButton"></i>
      </div>
    </div>
  </div>
</div>