.beach {
  width: 315px;
  height: 443px;
  flex-shrink: 0;
  cursor: pointer;
}

.beach .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.beach .image:hover .overlay {
  opacity: 1;
}

.beach .overlay .next-prev {
  gap: 215px;
  margin: 0px 20px 145px 20px;
}

.beach .overlay .next-prev button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.beach .overlay .next-prev .next {
  right: 10px;
  cursor: pointer;
}

.beach .overlay .next-prev .previous {
  left: 10px;
  cursor: pointer;
}

.beach .overlay .next-prev .next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.beach .overlay .next-prev .previous:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.beach .overlay div.favorite {
  font-size: 20px;
  margin: 15px 15px 112px 282px;
  fill: #222222;
  fill-opacity: 0.2;
  stroke: white;
  cursor: pointer;
}

.beach .overlay div.favorite.favorite-hover {
  color: #FF385C;
  fill-opacity: 1;
}

.beach .btn {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.beach .heart-btn {
  font-size: 24px;
  background: none;
  border: none;
  color: #e74c3c;
  cursor: pointer;
}

.beach .location {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  margin: 0px 0px 2px 0px;
}

.beach .where,
.date {
  color: #B8B8B8;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px 0px 2px 0px;
}

.beach label.price {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}

.beach .time {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.beach label.point {
  color: #3E3E3E;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
