.showmap {
  width: 144px;
  border-radius: 25px;
  background: #1E1E1E;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 15px;
}

.showmap label {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 14px 10px 15px 20px;
  cursor: pointer;
}

.showmap svg {
  margin: 14px 20px 15px 0px;
}
